
body {
    text-align: center;
    margin: 0;
}

/*:::::::::::: HEADER ::::::::::::*/
header {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-content: center;
    margin: 8px;
    padding: 5px 15px;
    box-shadow: 3px 3px 5px #dddddd, -3px -3px 10px #dddddd;
    border: 1px solid #dddddd;
    border-radius: 6px;
}

/*------------ Add Book button ------------*/
header span {
    vertical-align: middle;
    color: #67d;
}

header span:active {
    color: #54c;
}

header h1 {
    vertical-align: top;
    margin: 5px 12px;
    color: #444;
}


/*:::::::::::: MAIN ::::::::::::*/
main {/*
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;*/
}

#booksDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 320px));
    text-align: center;
}

#booksDisplay > div {
    margin: 10px;
    padding: 16px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    font-family: sans-serif;
    background: #dddddd;
    color: #000;
    font-weight: 500;
    text-align: center;
}

#booksDisplay > div > div {
    padding: 3px;
    margin: 3px;
}

.read input{
    margin: 0;
    padding: 0;
    vertical-align: middle;
}


/*:::::::::::: FORM ::::::::::::*/
.formContainer {
    display: none;
    position: absolute;
    left: 12px;
    z-index: 2;
}

/*form container*/
form {
    margin: 10px;
    padding: 20px 8px 25px;
    border: 1px solid #dddddd;
    border-radius: 12px;
    width: 335px;
    color: #444;
    font-family: sans-serif;
    background: #ffffff;
}

form h2 {
    text-align: center;
    margin: 12px 4px 20px;
}

form, form li {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form li{
    margin: 15px 12px;
}

form input {
    padding: 10px;
    width: 250px;
    border: 1px solid #a7b8c1;
    border-radius: 6px;
    text-align: center;
    color: #54c;
}

label {
    margin: 4px;
    vertical-align: middle;
}

form input:is(:focus, :active) {
    border: 2px solid #54c;
    outline: none;
}

/*Custom checkbox style*/
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    margin: 4px 6px;
    padding: 0;
    border: 2px solid #43c;
    border-radius: 6px;
}

input[type="checkbox"]:checked {
    background: #78f;
}

input[type="checkbox"]:checked:before {
    content: '✓';
    display: flex;
    justify-content: center;
    align-content: center;
    color: snow;
    font-weight: 600;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 12px;
}

fieldset legend {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 1px 12px;
    margin: 8px 0;
    text-transform: uppercase;
}

/*Form submit button design*/
button {
    padding: 10px 25px;
    border-radius: 6px;
    border: 1px solid #dddddd;
    background: #47f;
    font-weight: 600;
    color: #ffffff;
}

button:active {
    background: #43a;
}

button:disabled {
    background: #dddddd;
    color: #ffffff;
}

