body {
    text-align: center;
    margin: 0;
    background: #eee;
    --theme-color1: #67d;
    --theme-color2: #324;
}

/*:::::::::::: HEADER ::::::::::::*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.4rem 0.7rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #989, -0.1rem -0.1rem 0.6rem #cbc;
    border: 2px solid #dddddd;
    border-radius: 0.8rem;
    background: var(--theme-color2);
}

header span {
    color: white;
    font-size: 2.7em !important;
}

header span:active { color: #54c; }

header h1 {
    color: white;
    font-family: sans-serif;
    margin: 0;
    margin-right: 0.5rem;
}



/*:::::::::::: FORM ::::::::::::*/
form {
    /* display: none; */
    margin: 0;
    padding: 0.6rem 0.8rem 1.7rem;
    border-radius: 1.2rem;
    border: 0.15rem solid var(--theme-color2);
    box-shadow: 0.3rem 0.3rem 0.3rem #bbb,
                -0.3rem -0.3rem 0.3rem #bbb;
    width: 345px;
    background-color: #ddd;
    color: var(--theme-color2);
    font-family: sans-serif;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .4s ease-in-out .1s,
                opacity .4s ease-in-out .1s,
                height .4s ease-in-out .1s;
}

form.visible {
    visibility: visible;
    opacity: 1;
    height: auto;
    margin: 0.4rem;
}

legend {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.7rem 0.7rem 1.2rem;
    color: #bbb;
}

input {
    padding: 0.5rem 1rem;
    border: 1px solid #a7b8c1;
    border-radius: 6px;
    text-align: center;
    background-color: #bbb;
    color: var(--theme-color2);
    font-size: 1rem;
    width: 13rem;
    transition: width .5s ease-in-out .1s;
}

input:not(
    [type="submit"],
    [type="checkbox"]
):focus {
    outline: none;
    width: 17rem;
    border: 2px solid var(--theme-color1);
}

input:focus:invalid { border-color: #f22; }

input[type="checkbox" ] {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.5rem;
    border: 1px solid var(--theme-color2);
    transition: background .3s ease-in-out .3s,
                border .3s ease-in-out .1s;
}

input[type="checkbox"]:checked {
    background: var(--theme-color2);
    color: #fff;
    outline: none;
    border: 1px solid var(--theme-color1);
}

input[type="checkbox"]:checked:before {
    content: '✓';
    outline: none;
}

input[type=submit] {
    background-color: #ddd;
    width: 7rem;
    font-weight: 500;
    border: 1px solid var(--theme-color2);
}

form > div {
    margin: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

label { display: none; }

.status-field label { display: inline; }

.status-field { margin-bottom: 1.4rem; }

/************* MAIN *************/
main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 340px));
    gap: 0.4rem;
    place-content: space-evenly;
    text-align: center;
}

.book-item {
    padding: 0.9rem 0.9rem 1.1rem;
    background: #ddd;
    border-radius: 0.7rem;
    font-family: sans-serif;
    box-shadow: 0.3rem 0.4rem 0.4rem #aaa;
    border: 2px solid var(--theme-color2);
}

.book-item button {
    color: #000;
    padding: 0.7rem 0.6rem;
    border-radius: 0.5rem;
    border: 2px solid var(--theme-color2);
    background: transparent;
}

.book-title,
.book-author {
    margin: 0.2rem;
}

.book-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}
